/* Upload Page Layout */
.upload-container {
    padding: 30px;
    min-height: calc(100vh - 80px);
    background-color: white;
}
  
.upload-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
  
.upload-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #D9D9D9;
    color: #1E1E1E;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5%;
}
  
.upload-button:hover {
    background-color: #c0c0c0;
}
  
.upload-icon {
    width: 18px;
    height: 18px;
}

.upload-icon2 {
    width: 54px;
    height: 60px;
}

.past-notes-container{
    color: black;
    width: 100%;
  }
  .past-notes-text{
    color: #1E1E1E;
    width: 90%; 
    margin-top: 30px;
    margin-left: 5%; 
    text-align: left;
  }
  .past-view{
    background-color: #F6F6F6;
    height: 100%;
    width: 90%;
    margin: 5px auto 0 auto;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
/* Modal Content */
.modal-content {
    background: white;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    max-width: 700px;
}
  
.modal-body {
    display: flex;
    gap: 30px;
    align-items: flex-starts;
}
  
/* Upload Drop Area */
.upload-drop-area {
    flex: 1;
    min-height: 300px;
}
  
.upload-placeholder {
    background-color: #D9D9D9;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    gap: 15px;
}
  
/* Form Area */
.upload-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.upload-input {
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: 'Outfit', sans-serif;
}
  
.submit-upload-button {
    margin-top: 110px;
    background-color: #6699FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.submit-upload-button:hover {
    background-color: #5588ee;
}
  
@media (max-width: 768px) {
    .notes-grid {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .modal-body {
      flex-direction: column;
    }
}
  