/* Reset for margins, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen styling */
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Outfit', sans-serif;
  padding-top: 80px;
}

/* Background */
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

/* Center container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 4, 63, 0.9);
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Image and Key Features */
img {
  max-width: 100%;
  height: auto;
}

.key-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin-bottom: 20vh;
}

/* @media (max-width: 900px) {
  .search-input {
    width: 10px;
  }
} */
